@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  /*------ Header ------*/

  .open-menu-btn {
    display: none;
  }
  .header-title-container {
    margin-right: 128px;
    margin-left: 0;
  }
  .soc-list.head {
    gap: 23px;
  }

  /*------ Hotel Hero ------*/

  .hotel-hero .container {
    padding-right: 0;
  }
  .container-hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .container-hotel-title {
    margin-bottom: 0;
  }
  .hotel-hero-title {
    font-size: 90px;
  }
  .hotel-hero-btn {
    padding: 9px 24px;

    font-size: 18px;
    line-height: 1.33;
  }
  .hotel-hero-slider {
    width: 703px;
    margin-bottom: 0;
  }
  .container-btn {
    margin-right: 599px;
  }
  .hotel-text.hero {
    bottom: 48px;
    left: 32px;
  }

  /*------ Hotel Double ------*/

  .hotel-room > .container {
    position: relative;
  }
  .hotel-room-list {
    margin-bottom: 50px;
    align-items: center;
  }
  .hotel-room-item:last-child {
    position: static;
  }
  .hotel-room-item:nth-child(2) {
    order: -1;
  }
  .text-container {
    max-width: 694px;
    margin-bottom: 0;
  }
  .hotel-room-text {
    max-width: 299px;
  }
  .hotel-room-text:first-child {
    max-width: 349px;
  }
  .hotel-btn-list {
    max-width: 340px;
    position: absolute;
    right: 32px;
    bottom: 224px;
  }
  .hotel-room-btn {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }

  /*------ Hotel Triple ------*/

  .hotel-room-title.triple {
    width: 260px;
    margin-left: 680px;
  }
  .text-container.triple {
    margin-left: auto;
  }
  .hotel-btn-list.triple {
    justify-content: start;
    bottom: 152px;
    left: 32px;
  }

  /*------ Hotel Four ------*/

  .hotel-btn-list.four {
    bottom: 176px;
  }
  .hotel-room-text.four {
    max-width: 475px;
  }

  /*------ Footer ------*/

  .footer {
    padding-top: 44px;
    padding-bottom: 80px;
  }
  .footer-content-wrapper {
    height: 117px;
    padding-bottom: 80px;
  }
  .footer-menu-list {
    display: flex;
    gap: 32px;
  }
  .footer-menu-link {
    padding-bottom: 18px;
  }
  .footer-title-container {
    text-align: center;
  }
}