@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section {
    padding-bottom: 80px;
  }

  /*------ Hotel Hero ------*/

  .hotel-hero > .container {
    position: relative;
    padding-left: 36px;
    padding-right: 0;
    padding-bottom: 48px;
  }
  .container-hotel-title {
    margin-bottom: 54px;
  }
  .hotel-hero-title {
    margin-bottom: 32px;

    font-size: 80px;
  }
  .hotel-hero-list {
    gap: 14px;
  }
  .hotel-hero-btn {
    padding: 8px 24px;

    line-height: 1.33;
  }
  .hotel-hero-slider {
    width: 732px;
    margin-bottom: 40px;
  }
  .hotel-photo-slider {
    width: 1372px;
    gap: 32px;
  }
  .container-btn {
    width: 104px;
    display: flex;
    gap: 32px;
    margin-right: 32px;
    margin-left: auto;
    margin-bottom: 0;
  }
  .hotel-text.hero {
    position: absolute;
    bottom: 0;
    left: 32px;
  }

  /*------ Hotel Double ------*/

  .hotel-room > .container {
    padding-left: 32px;
  }
  .hotel-room-list {
    position: relative;
    gap: 32px;
    flex-direction: row-reverse;
  }
  .hotel-room-item.double {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .hotel-room-title {
    max-width: 100%;

    font-size: 40px;
    line-height: 1.1;
  }
  .text-container {
    max-width: 100%;
    margin-bottom: 40px;
    flex-direction: row;
    gap: 32px;
  }
  .hotel-room-text:first-child {
    max-width: 362px;
  }
  .hotel-room-text {
    font-size: 18px;
    line-height: 1.33;
  }
  .hotel-btn-list {
    gap: 14px;
    justify-content: end;
  }
  .hotel-room-btn {
    padding: 8px 24px;

    line-height: 1.33;
  }

  /*------ Hotel Triple ------*/

  .hotel-room-list.triple {
    flex-direction: row;
  }
  .hotel-room-item.triple {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*------ Hotel Four ------*/

  .hotel-room-text.four {
    max-width: 475px;
  }

  /*------ Footer ------*/

  .footer {
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .soc-list {
    gap: 16px;
    height: 24px;
  }
  .soc-link {
    height: 24px;
  }
  .soc-link > svg {
    width: 24px;
    height: 24px;
  }
}