@media screen and (min-width: 1440px) {
  /*------ Hotel Hero ------*/

  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hotel-hero .container {
    padding-left: 32px;
  }
  .container-hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .container-hotel-title {
    margin-bottom: 0;
  }
  .hotel-hero-title {
    font-size: 90px;
  }
  .hotel-hero-btn {
    padding: 9px 24px;

    font-size: 18px;
    line-height: 1.33;
  }
  .hotel-hero-slider {
    width: 703px;
    margin-bottom: 0;
  }
  .container-btn {
    margin-right: 599px;
  }
  .hotel-text.hero {
    bottom: 48px;
    left: 32px;
  }

  /*------ Hotel Double ------*/

  .hotel-room > .container {
    position: relative;
  }
  .hotel-room-list {
    margin-bottom: 50px;
    align-items: center;
  }
  .hotel-room-item:last-child {
    position: static;
  }
  .hotel-room-item:nth-child(2) {
    order: -1;
  }
  .text-container {
    max-width: 694px;
    margin-bottom: 0;
  }
  .hotel-room-text:not(:last-child) {
    max-width: 355px;
  }
  .hotel-btn-list {
    max-width: 340px;
    position: absolute;
    right: 32px;
    bottom: 224px;
  }
  .hotel-room-btn {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }

  /*------ Hotel Triple ------*/

  .hotel-btn-list.triple {
    bottom: 152px;
  }

  /*------ Hotel Four ------*/

  .hotel-btn-list.four {
    bottom: 128px;
  }

  /*------ Footer ------*/

  .footer-room {
    height: 161px;
    padding-top: 44px;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }
  .footer-menu-list {
    display: flex;
    gap: 32px;
  }
  .footer-title-container {
    text-align: center;
  }
}